@import url("https://fonts.googleapis.com/css?family=Archivo:500");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
    font-family: "Archivo", sans-serif;
}

li {
    padding: 0.5%;
}

a,
button {
    color: #6c71c4;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#page-container {
    flex: 1 0 auto;
    padding-top: 1%;
    padding-bottom: 1%;
    /* border: #268bd2 solid 1px; */
}

img.emoji {
    width: 25px;
}

div#HCB_comment_box {
    max-width: 700px;
    margin: auto;
}


#jve-logo {
    width: 300px;
    align-self: center;
    border-radius: 200px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
    flex: 1;
}

.greeting-container {
    /* border-width: 1px; */
    flex: 1 1 auto;
}

.main-content {
    padding-left: 10%;
    /* width: 1000px; */
    text-align: left;
    padding-right: 10%;
}

#theme-toggle {
    cursor: pointer;
    padding: 10px;
}

.footer {
    min-height: 63px;
}

.footerText {
    padding-left: 20px;
    padding-top: 5px;
    color: #586e75;
    text-align: left;
}



#editormd {
    width: 1000px;
    /* border: blue solid 1px; */
}


#blog-post {
    max-width: 700px;
}

#contact-area {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    justify-content: space-around;
}



ul.posts {
    list-style-type: none;
}

main.content-container {
    line-height: 1.6;
}



@media screen and (max-width: 480px) {

    .main-content {
        padding-left: 5%;
        padding-right: 5%;
    }

    #blog-list {
        width: auto;
    }

    #blog-post {
        width: -webkit-fill-available;
    }

    .sticky-icons {
      width: 50px;
    }


}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
  top: 0;
  position: relative;
  overflow: hidden;
  font-size: 30px;
  /* height: 100vh; */
    /* border: 1px solid red */
}

.light-switch-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 4%;
    /* border: 1px solid black */
}

#header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    /* border: 1px solid red */
}

#header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    /* border: 1px solid orange  */
}

nav.nav-menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black */
}

nav.nav-menu-beta {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    /* border: 1px solid black */
}

header.sticky {
  position: sticky;
}

.header--alpha {
  transition: .225s ease-out;
}

.sticky .header--alpha {
  opacity: .5;
  transform: translateY(-100%);
  transition: none;
}

.header--beta {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: .5;
  transform: translateY(-100%);
}

.sticky .header--beta {
  opacity: 1;
  transform: translateY(0);
  transition: .35s ease-out;
    box-shadow: 5px 10px 20px #93a1a1;
    font-size: 18px;
}

.fake-header {
  height: 1px;
  position: relative;
}

header {
  pointer-events: none;
}

.header {
  pointer-events: all;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  border: 1px solid #cb4b16;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #cb4b16 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.popup2 .popuptext2 {
  visibility: hidden;
  width: 160px;
  border: 1px solid #cb4b16;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -160%;
  left: 50%;
  margin-left: -80px;
}

.popup2 .popuptext2::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #cb4b16 transparent;
}



.popup2 .show2 {
  visibility: visible;
  -webkit-animation: fadeIn2 1s;
  animation: fadeIn2 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn2 {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn2 {
  from {opacity: 0;}
  to {opacity:1 ;}
}