h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding: 0.5%;
}

/* $base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900; */

a,
button {
    color: #6c71c4;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#page-container {
    flex: 1 0 auto;
    padding: 1%;
    /* border: #268bd2 solid 1px; */
}

#jahziel {
    color: #268bd2;
    font-family: Arial, Helvetica, sans-serif;
}

#villasana {
    color: #859900;
    font-family: Arial, Helvetica, sans-serif;
}

#espinoza {
    color: #cb4b16;
    font-family: Arial, Helvetica, sans-serif;
}

.fading-txt:hover {
    /* opacity: 1; */
    -webkit-animation: fadein 4s linear forwards;
    animation: fadein 4s linear forwards;
}

.fading-txt {
    -webkit-animation: fadeout 4s linear forwards;
    animation: fadeout 4s linear forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#header {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

nav.nav-menu {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

nav.nav-menu a {
    padding: 16px;
}

#jve-logo {
    width: 100px;
    align-self: center;
    border-radius: 200px;
}

.content-container {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

#name-container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1%;
}

.greeting-container {
    /* border-width: 1px; */
    flex: 1 1 auto;
}

.main-content {
    padding-left: 10%;
    width: 1000px;
    text-align: left;
}

#theme-toggle {
    cursor: pointer;
    padding: 16px;
}

.footer {
    min-height: 63px;
}

.footerText {
    padding-left: 20px;
    padding-top: 5px;
    color: #586e75;
    text-align: left;
}

#heart {
    color: #cb4b16;
}

#editormd {
    width: 1000px;
    /* border: blue solid 1px; */
}

.blog-container {
    padding-left: 8%;
}

#blog-list {
    width: 1000px;
}

#blog-post {
    max-width: 700px;
}

#contact-area {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    justify-content: space-around;
}

/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #268bd2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #eee8d5;
}

ul.posts {
    list-style-type: none;
}

/* Solarized Dark 
For use with Jekyll and Pygments
http://ethanschoonover.com/solarized
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight pre {
    background-color: #002b36;
    color: #93a1a1;
}
.highlight pre .lineno {
    color: #586e75;
} /* Line Numbers */
.highlight pre .c {
    color: #586e75;
} /* Comment */
.highlight pre .err {
    color: #93a1a1;
} /* Error */
.highlight pre .g {
    color: #93a1a1;
} /* Generic */
.highlight pre .k {
    color: #859900;
} /* Keyword */
.highlight pre .l {
    color: #93a1a1;
} /* Literal */
.highlight pre .n {
    color: #93a1a1;
} /* Name */
.highlight pre .o {
    color: #859900;
} /* Operator */
.highlight pre .x {
    color: #cb4b16;
} /* Other */
.highlight pre .p {
    color: #93a1a1;
} /* Punctuation */
.highlight pre .cm {
    color: #586e75;
} /* Comment.Multiline */
.highlight pre .cp {
    color: #859900;
} /* Comment.Preproc */
.highlight pre .c1 {
    color: #586e75;
} /* Comment.Single */
.highlight pre .cs {
    color: #859900;
} /* Comment.Special */
.highlight pre .gd {
    color: #2aa198;
} /* Generic.Deleted */
.highlight pre .ge {
    color: #93a1a1;
    font-style: italic;
} /* Generic.Emph */
.highlight pre .gr {
    color: #dc322f;
} /* Generic.Error */
.highlight pre .gh {
    color: #cb4b16;
} /* Generic.Heading */
.highlight pre .gi {
    color: #859900;
} /* Generic.Inserted */
.highlight pre .go {
    color: #93a1a1;
} /* Generic.Output */
.highlight pre .gp {
    color: #93a1a1;
} /* Generic.Prompt */
.highlight pre .gs {
    color: #93a1a1;
    font-weight: bold;
} /* Generic.Strong */
.highlight pre .gu {
    color: #cb4b16;
} /* Generic.Subheading */
.highlight pre .gt {
    color: #93a1a1;
} /* Generic.Traceback */
.highlight pre .kc {
    color: #cb4b16;
} /* Keyword.Constant */
.highlight pre .kd {
    color: #268bd2;
} /* Keyword.Declaration */
.highlight pre .kn {
    color: #859900;
} /* Keyword.Namespace */
.highlight pre .kp {
    color: #859900;
} /* Keyword.Pseudo */
.highlight pre .kr {
    color: #268bd2;
} /* Keyword.Reserved */
.highlight pre .kt {
    color: #dc322f;
} /* Keyword.Type */
.highlight pre .ld {
    color: #93a1a1;
} /* Literal.Date */
.highlight pre .m {
    color: #2aa198;
} /* Literal.Number */
.highlight pre .s {
    color: #2aa198;
} /* Literal.String */
.highlight pre .na {
    color: #93a1a1;
} /* Name.Attribute */
.highlight pre .nb {
    color: #b58900;
} /* Name.Builtin */
.highlight pre .nc {
    color: #268bd2;
} /* Name.Class */
.highlight pre .no {
    color: #cb4b16;
} /* Name.Constant */
.highlight pre .nd {
    color: #268bd2;
} /* Name.Decorator */
.highlight pre .ni {
    color: #cb4b16;
} /* Name.Entity */
.highlight pre .ne {
    color: #cb4b16;
} /* Name.Exception */
.highlight pre .nf {
    color: #268bd2;
} /* Name.Function */
.highlight pre .nl {
    color: #93a1a1;
} /* Name.Label */
.highlight pre .nn {
    color: #93a1a1;
} /* Name.Namespace */
.highlight pre .nx {
    color: #93a1a1;
} /* Name.Other */
.highlight pre .py {
    color: #93a1a1;
} /* Name.Property */
.highlight pre .nt {
    color: #268bd2;
} /* Name.Tag */
.highlight pre .nv {
    color: #268bd2;
} /* Name.Variable */
.highlight pre .ow {
    color: #859900;
} /* Operator.Word */
.highlight pre .w {
    color: #93a1a1;
} /* Text.Whitespace */
.highlight pre .mf {
    color: #2aa198;
} /* Literal.Number.Float */
.highlight pre .mh {
    color: #2aa198;
} /* Literal.Number.Hex */
.highlight pre .mi {
    color: #2aa198;
} /* Literal.Number.Integer */
.highlight pre .mo {
    color: #2aa198;
} /* Literal.Number.Oct */
.highlight pre .sb {
    color: #586e75;
} /* Literal.String.Backtick */
.highlight pre .sc {
    color: #2aa198;
} /* Literal.String.Char */
.highlight pre .sd {
    color: #93a1a1;
} /* Literal.String.Doc */
.highlight pre .s2 {
    color: #2aa198;
} /* Literal.String.Double */
.highlight pre .se {
    color: #cb4b16;
} /* Literal.String.Escape */
.highlight pre .sh {
    color: #93a1a1;
} /* Literal.String.Heredoc */
.highlight pre .si {
    color: #2aa198;
} /* Literal.String.Interpol */
.highlight pre .sx {
    color: #2aa198;
} /* Literal.String.Other */
.highlight pre .sr {
    color: #dc322f;
} /* Literal.String.Regex */
.highlight pre .s1 {
    color: #2aa198;
} /* Literal.String.Single */
.highlight pre .ss {
    color: #2aa198;
} /* Literal.String.Symbol */
.highlight pre .bp {
    color: #268bd2;
} /* Name.Builtin.Pseudo */
.highlight pre .vc {
    color: #268bd2;
} /* Name.Variable.Class */
.highlight pre .vg {
    color: #268bd2;
} /* Name.Variable.Global */
.highlight pre .vi {
    color: #268bd2;
} /* Name.Variable.Instance */
.highlight pre .il {
    color: #2aa198;
} /* Literal.Number.Integer.Long */
