<aside class="main-header">
    <header class="module">
        <h1 id="header-title">
            <a href="/"><code>{{ site.title }}</code></a>
        </h1>
    </header>
    <div class="module color2">
        {{ site.description }}
    </div>
    <nav class="module color4">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/resume">Resume</a>
    </nav>
    <div class="module color3">
        <a href="https://github.com/{{ site.github }}">github.com/{{ site.github }}</a>
        <br /><a href="https://thecabal.xyz/@hapax">Fediverse</a><br />
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
</aside>
