<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Jahziel Villasana-Espinoza" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"
        />

        <!-- Homepage CSS -->
        <link
            rel="stylesheet"
            href="style.css"
            type="text/css"
            media="screen, projection"
        />
        <link
            rel="stylesheet"
            href=""
            type="text/css"
            media="screen, projection"
            id="syntax-highlight"
        />
        <link rel="icon" href="./assets/favicon.ico" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-133199643-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-133199643-1");
        </script>
        <script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.3"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="page-container">
            <div id="header">
                <div class="header-item">
                    <a href="/">
                        <img id="jve-logo" src="assets/jve-logo.jpg" alt="JVE logo" />
                    </a>
                </div>

                <!-- menu for mobile  -->
                <nav class="mobile-menu">
                    <div id="menu">
                        <div class="dropdown">
                            <button class="dropbtn">Menu</button>
                            <div class="dropdown-content">
                                <div id="link-blog" class="nav-links">
                                    <a href="/blog">Blog</a>
                                </div>
                                <div id="link-bio" class="nav-links">
                                    <a href="/bio">Bio</a>
                                </div>
                                <div id="link-resume" class="nav-links">
                                    <a href="/assets/jahzielvillasana-resume.pdf"
                                        >Resume</a
                                    >
                                </div>
                                <div id="link-contact">
                                    <div class="mobile-dropdown">
                                        <button class="mobile-dropbtn">Contact</button>
                                        <div class="mobile-dropdown-content">
                                            <a href="https://twitter.com/jahz_v"
                                                >@jahz_v</a
                                            >
                                            <a href="https://github.com/jahzielv">
                                                GitHub
                                            </a>
                                            <a href="mailto:jahz@gatech.edu"
                                                >jahz@gatech.edu</a
                                            >
                                            <a
                                                href="https://www.linkedin.com/in/jahziel-v"
                                            >
                                                LinkedIn
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="themeButton">
                                    <p id="theme-toggle" onclick="themeToggleClick()">
                                        🌝
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- menu for desktop -->
                <nav class="nav-menu" style="color: rgb(131, 148, 150);">
                    <div id="link-blog" class="nav-links"><a href="/blog">Blog</a></div>
                    <div id="link-bio" class="nav-links"><a href="/bio">Bio</a></div>
                    <div id="link-resume" class="nav-links">
                        <a href="/assets/jahzielvillasana-resume.pdf">Resume</a>
                    </div>
                    <div id="link-contact">
                        <div class="dropdown">
                            <button class="dropbtn">Contact</button>
                            <div class="dropdown-content">
                                <a href="https://twitter.com/jahz_v">@jahz_v</a>
                                <a href="https://github.com/jahzielv"> GitHub </a>
                                <a href="mailto:jahz@gatech.edu">jahz@gatech.edu</a>
                                <a href="https://www.linkedin.com/in/jahziel-v">
                                    LinkedIn
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="themeButton">
                        <p id="theme-toggle" onclick="themeToggleClick()">🌚</p>
                    </div>
                </nav>
            </div>
            <div class="content-container">
                <div id="name-container">
                    <h1 id="jahziel" class="fading-txt">Jahziel</h1>
                    <h1 id="villasana" class="fading-txt">Villasana</h1>
                    <h1 id="espinoza" class="fading-txt">Espinoza</h1>
                </div>

                <div>{{ content }}</div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
    <footer class="footer">
        <div class="footerText">
            <p>
                👨‍💻 with 🍞.
                <a href="https://solarized-ref.glitch.me/">Colors</a> by
                <a href="https://twitter.com/ethanschoonover">@ethanschoonover</a>
            </p>
        </div>
    </footer>
</html>
