<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <title>{{ page.title }}</title>
        <meta name="author" content="Jahziel Villasana-Espinoza" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"
        />

        <!-- Homepage CSS -->
        <link
            rel="stylesheet"
            href="/style.css"
            type="text/css"
            media="screen, projection"
        />
        <link
            rel="stylesheet"
            href=""
            type="text/css"
            media="screen, projection"
            id="syntax-highlight"
        />
        <link rel="icon" href="/assets/favicon.ico" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-133199643-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-133199643-1");
        </script>
        <script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.3"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="page-container">
            <div id="header">
                <div class="header-item">
                    <a href="/">
                        <img id="jve-logo" src="/assets/jve-logo.jpg" alt="JVE logo" />
                    </a>
                </div>

                <nav class="mobile-menu">
                    <div id="menu">
                        <div class="dropdown">
                            <button class="dropbtn">Menu</button>
                            <div class="dropdown-content">
                                <div id="link-blog" class="nav-links">
                                    <a href="/blog">Blog</a>
                                </div>
                                <div id="link-bio" class="nav-links">
                                    <a href="/bio">Bio</a>
                                </div>
                                <div id="link-resume" class="nav-links">
                                    <a href="/assets/jahzielvillasana-resume.pdf"
                                        >Resume</a
                                    >
                                </div>
                                <div id="link-contact">
                                    <div class="mobile-dropdown">
                                        <button class="mobile-dropbtn">Contact</button>
                                        <div class="mobile-dropdown-content">
                                            <a href="https://twitter.com/jahz_v"
                                                >@jahz_v</a
                                            >
                                            <a href="https://github.com/jahzielv">
                                                GitHub
                                            </a>
                                            <a href="mailto:jahz@gatech.edu"
                                                >jahz@gatech.edu</a
                                            >
                                            <a
                                                href="https://www.linkedin.com/in/jahziel-v"
                                            >
                                                LinkedIn
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="themeButton">
                                    <p id="theme-toggle" onclick="themeToggleClick()">
                                        🌝
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- menu for desktop -->
                <nav class="nav-menu" style="color: rgb(131, 148, 150);">
                    <div id="link-blog" class="nav-links"><a href="/blog">Blog</a></div>
                    <div id="link-bio" class="nav-links"><a href="/bio">Bio</a></div>
                    <div id="link-resume" class="nav-links">
                        <a href="/assets/jahzielvillasana-resume.pdf">Resume</a>
                    </div>
                    <div id="link-contact">
                        <div class="dropdown">
                            <button class="dropbtn">Contact</button>
                            <div class="dropdown-content">
                                <a href="https://twitter.com/jahz_v">@jahz_v</a>
                                <a href="https://github.com/jahzielv"> GitHub </a>
                                <a href="mailto:jahz@gatech.edu">jahz@gatech.edu</a>
                                <a href="https://www.linkedin.com/in/jahziel-v">
                                    LinkedIn
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="themeButton">
                        <p id="theme-toggle" onclick="themeToggleClick()">🌚</p>
                    </div>
                </nav>
            </div>
            <div class="content-container">
                <div id="name-container">
                    <h1 id="jahziel" class="fading-txt">Jahziel</h1>
                    <h1 id="villasana" class="fading-txt">Villasana</h1>
                    <h1 id="espinoza" class="fading-txt">Espinoza</h1>
                </div>
                <div class="main-content" id="blog-post">{{ content }}</div>
            </div>
            <div id="HCB_comment_box" class="main-content">
                <h3>Comments</h3>
                <style type="text/css">
                    #HCB_comment_box #HCB_comment_form_box {
                        padding-bottom: 1em;
                    }
                    #HCB_comment_box .hcb-link {
                        cursor: pointer;
                    }
                    #HCB_comment_box .hcb-icon {
                        border: 0px transparent none;
                    }
                    #HCB_comment_box textarea {
                        display: block;
                        width: 100%;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        width: 100%;
                    }
                    #HCB_comment_box blockquote {
                        margin: 10px;
                        overflow: hidden;
                    }
                    #HCB_comment_box .hcb-err {
                        color: red;
                    }
                    #HCB_comment_box .hcb-comment-tb {
                        margin: 0;
                    }
                    #HCB_comment_box .comment {
                        position: relative;
                    }
                    #HCB_comment_box .comment .likes {
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: 0.8;
                    }
                    #HCB_comment_box .comment .hcb-comment-tb a {
                        visibility: hidden;
                    }
                    #HCB_comment_box .comment:hover .hcb-comment-tb a {
                        visibility: visible;
                    }
                    #HCB_comment_box .gravatar {
                        padding-right: 2px;
                    }
                    #HCB_comment_box input {
                        margin-left: 0;
                    }
                    #HCB_comment_box input[type="file"] {
                        display: none;
                    }
                    #HCB_comment_box input.inputfile {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;
                    }
                    #HCB_comment_box input.inputfile + label {
                        display: inline;
                    }
                </style>
                <p id="hcb_msg"></p>
                <div id="HCB_comment_form_box">
                    <form
                        id="hcb_form"
                        enctype="multipart/form-data"
                        onsubmit="return hcb.submit()"
                        action="https://www.htmlcommentbox.com/post"
                        method="post"
                    >
                        <input
                            type="hidden"
                            name="page"
                            value="https://jahz.co/2019/03/11/updates.html"
                            id="hcb_form_page"
                        /><input
                            type="hidden"
                            id="hcb_refer"
                            name="refer"
                            value="https://jahz.co/2019/03/11/updates.html#HCB_comment_box"
                        /><input
                            type="hidden"
                            name="opts"
                            value="16862"
                            id="hcb_form_opts"
                        /><input
                            type="hidden"
                            name="mod"
                            value="$1$wq1rdBcg$dkmWINPIHX9HkUMwY7d/.."
                            id="hcb_form_mod"
                        /><input
                            type="hidden"
                            name="replies_to"
                            value=""
                            id="hcb_form_replies_to"
                        /><input
                            type="hidden"
                            name="charset"
                            value="UTF-8"
                            id="hcb_form_charset"
                        />
                        <div class="hcb-wrapper-half input-field">
                            <div class="hcb-shadow-t">
                                <div class="hcb-shadow-tl"></div>
                                <div class="hcb-shadow-tr"></div>
                            </div>
                            <div class="hcb-shadow-m">
                                <input
                                    id="hcb_form_name"
                                    class="hcb-shadow-r"
                                    name="name"
                                    type="text"
                                    value="jahzielv"
                                    placeholder="Name"
                                />
                            </div>
                            <div class="hcb-shadow-b">
                                <div class="hcb-shadow-bl"></div>
                                <div class="hcb-shadow-br"></div>
                            </div>
                            <div class="hcb-shadow-clear"></div>
                        </div>
                        <div class="hcb-wrapper">
                            <div class="hcb-shadow-t">
                                <div class="hcb-shadow-tl"></div>
                                <div class="hcb-shadow-tr"></div>
                            </div>
                            <div class="hcb-shadow-m">
                                <textarea
                                    onkeypress="hcb.delta(event)"
                                    class="commentbox hcb-shadow-r"
                                    name="content"
                                    id="hcb_form_content"
                                    rows="4"
                                    placeholder="Enter your comment here"
                                ></textarea>
                            </div>
                            <div class="hcb-shadow-b">
                                <div class="hcb-shadow-bl"></div>
                                <div class="hcb-shadow-br"></div>
                            </div>
                            <div class="hcb-shadow-clear"></div>
                        </div>
                        <div>
                            <input
                                class="submit btn"
                                id="hcb_submit"
                                type="submit"
                                value="Comment"
                            />&nbsp;<input
                                type="file"
                                name="hcb_file"
                                id="hcb_file"
                                class="inputfile"
                                title="upload image"
                            /><label for="hcb_file" title="upload image"
                                ><a class="btn">Add Image</a></label
                            ><span class="home-desc">&nbsp;Not using&nbsp;</span
                            ><a target="_blank" href="https://www.htmlcommentbox.com"
                                >Html Comment Box</a
                            ><span class="home-desc"
                                >&nbsp; yet?<small class="admin-link"
                                    ><a
                                        href="https://www.htmlcommentbox.com/pricing.html"
                                        title="remove link"
                                        target="_blank"
                                        ><img
                                            src="https://www.htmlcommentbox.com/static/images/link_delete.png"
                                            alt="remove link"
                                            class="hcb-icon"/></a
                                ></small>
                                &nbsp;<small
                                    ><a
                                        href="https://www.htmlcommentbox.com/account.html"
                                        title="account"
                                        target="_blank"
                                        ><img
                                            src="https://www.htmlcommentbox.com/static/images/cog.png"
                                            alt="account"
                                            class="hcb-icon"/></a></small
                                ><span style="font-size:10px">
                                    <input type="checkbox" name="subscribe" /> email me
                                    replies</span
                                >
                                <div style="float:right">
                                    <small class="admin-link"
                                        ><a
                                            href="https://www.htmlcommentbox.com/logout?then=https://jahz.co/2019/03/11/updates.html"
                                            ><img
                                                title="log out"
                                                src="https://www.htmlcommentbox.com/static/images/door_out.png"
                                                alt="[logout]"
                                                class="hcb-icon hcb-door-out"/></a
                                        >&nbsp;</small
                                    >
                                </div>
                                <div style="clear:both"></div
                            ></span>
                        </div>
                    </form>
                </div>
                <div id="comments_list">
                    <p id="no_comments">No one has commented yet. Be the first!</p>
                </div>
                <a
                    href="https://www.htmlcommentbox.com/rss_clean?page=https%3A%2F%2Fjahz.co%2F2019%2F03%2F11%2Fupdates.html&amp;opts=16862&amp;mod=$1$wq1rdBcg$dkmWINPIHX9HkUMwY7d/.."
                    style="text-decoration:none"
                    ><img
                        src="https://www.htmlcommentbox.com/static/images/feed.png"
                        class="hcb-icon"
                        alt="rss"
                    />
                </a>
            </div>
        </div>
        <script src="/index.js"></script>
    </body>
    <footer class="footer">
        <div class="footerText">
            <p>
                👨‍💻 with 🍞.
                <a href="https://solarized-ref.glitch.me/">Colors</a> by
                <a href="https://twitter.com/ethanschoonover">@ethanschoonover</a>
            </p>
        </div>
    </footer>
    <script>
        twemoji.parse(document.body);
    </script>
</html>
